Flask==0.10.1
flask-script==2.0.5
py-bcrypt==0.4
gunicorn==18.0
pycrypto==2.6.1
pymongo==2.7.1
python-dateutil==2.2
flake8==2.1.0
facebook-sdk==0.4.0
mock==1.0.1
mandrill==1.0.53
blinker==1.3
supervisor==3.0
newrelic==2.22.1.20
freezegun==0.2.2
-e git+git://github.com/starsirius/mongoengine.git@no-tests#egg=mongoengine
-e git+git://github.com/starsirius/nose2.git@bump-up-six-version#egg=nose2
