Flask==0.10.1
py-bcrypt==0.4
gunicorn==18.0
nose==1.3.3
pycrypto==2.6.1
pymongo==2.7.1
python-dateutil==2.2
flake8==2.1.0
facebook-sdk==0.4.0
mock==1.0.1
mandrill==1.0.53
mongoengine==0.8.7
blinker==1.3
