DEBUG           = False

MONGO_HOST      = 'localhost'
MONGO_PORT      = 27017
MONGO_USERNAME  = ''
MONGO_PASSWORD  = ''
MONGO_DBNAME    = ''

SERVER_NAME     = '127.0.0.1:5000'
URL_PREFIX      = 'api'
API_VERSION     = 'v1'
